* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.header {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.header .header_logo i {
    padding: 10px;
    background-color: #002146;
    color: #C5A21B;
    border-radius: 50%;
}

.header .header_logo h1{
    display: inline-block;
    color: #1B1D2D;
}

.header .header_logo h1 a {
    text-decoration: none;
    color: black;

}

.header .header_logo ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

.header .header_logo ul li a{
    text-decoration: none;
    color: black;
}



/* CSS banner  */
.banner {
    background-image: url(./../images/2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
}

/* CSS Camus  */
.campus {
    padding: 50px 0;
}

.campus .campus_content {
    margin: auto;
    width: 80%;
}

.campus .campus_content .campus_content_left {
    float: left;
    width: 50%;
}

.campus .campus_content .campus_content_left p {
    padding: 20px 0;
    font-size: 17px;
    color: #7C7C7C;
}

.campus .campus_content .campus_content_left button {
    font-weight: bold;
    padding: 10px 30px;
    background-color: #FDC800;
    color: #002146;
    border: 1px solid #FDC800;
    border-radius: 5px;
}
.campus .campus_content .campus_content_right {
    float: left;
    width: 50%;
}

.campus .campus_content .campus_content_right img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* CSS COUNT  */
.count {
    background-color: #F6F6F6;
    padding: 30px;
}

.count .count_content {
    margin: auto;
    width: 80%;
    padding: 30px 0px;
}


.count .count_content .count_content_item {
    float: left;
    width: calc(100%/4);
}


.count .count_content .count_content_item .count_content_item_1 {
    float: left;
    width: 15%;
    color: #002146;
    font-size: 35px;
    font-weight: bold;
}
.count .count_content .count_content_item .count_content_item_2 {
    float: left;
    width: 85%;
    color:#002146;
    font-weight: bold;
}


.icon {
    background-color: white;
    padding: 30px;

}

.icon .icon_item {
    margin: auto;
    width: 80%;
}

.icon .icon_item .icon_item_1{
    float: left;
    width: calc(80%/4);
    margin: 20px 29px; 
}


.icon .icon_item .icon_item_1 .icon_item_1_bg {
    padding: 40px 30px;
    background-color: #002146;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.icon .icon_item .icon_item_1 .icon_item_1_bg i {
    padding-bottom: 10px;
    font-size: 30px;
}



/* CSS blog  */
.blog {
    padding: 50px 0;
    background-color: #F6F6F6;

}

.blog .blog_item {
    margin: auto;
    width: 80%;
}

.blog .blog_item .blog_item_content {
    float: left;
    width: 50%;
    padding: 20px;
}
.blog .blog_item .blog_item_content h2 {
    font-size: 35px;
    font-weight: bold;
}

.blog .blog_item .blog_item_content .blog_item_content_left {
    background-color: white;
    padding: 25px 20px;
    margin: 30px 0 10px;
}

.blog .blog_item .blog_item_content .blog_item_content_left hr{
   margin: 20px 0;
   color: #B7B7B7;
}

.blog .blog_item .blog_item_content .blog_item_content_left  .blog_item_content_left_1 .blog_item_content_left_1_img {
    float: left;
    width: 40%;
}

.blog .blog_item .blog_item_content .blog_item_content_left .blog_item_content_left_1_img img {
    width: 100%;
    border-radius: 10px;
}

.blog .blog_item .blog_item_content .blog_item_content_left .blog_item_content_left_1_content {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.blog .blog_item .blog_item_content .blog_item_content_left .blog_item_content_left_1_content p {
    padding: 10px 0;
}

.blog .blog_item .blog_item_content .blog_item_content_left .blog_item_content_left_color {
    color: #969696;
}
.blog .blog_item .blog_item_content .button {
    text-align: right;
}

.blog .blog_item .blog_item_content .button button {
    padding: 10px 20px;
    background-color: #FDC800;
    color:#002146;
    border: 1px solid #FDC800;
    font-weight: bold;
    border-radius: 5px;
}


.blog .blog_item .blog_item_content .blog_item_content_right {
    margin: 30px 0 10px;
}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_item_content_right_1 {
    margin-bottom: 50px;
    background-color: white;
    padding: 10px;
}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_item_content_right_1 .blog_item_content_right_1_calendar {
    float: left;
    width: 20%;
    padding: 15px;
}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_item_content_right_1 .blog_item_content_right_1_content {
    float: left;
    width: 80%;
    padding: 20px;
}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_calendar_top {
    background-color: #FDC800;
    text-align: center;
    padding: 20px ;
    border-radius: 5px 5px 0 0;

}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_calendar_top .blog_calendar_top_font {
    font-size: 35px;
    font-weight: bold;
}


.blog .blog_item .blog_item_content .blog_item_content_right .blog_calendar_bottom {
    background-color: #002146 ;
    text-align: center;
    color: white;
    padding: 10px 20px;
}


.blog .blog_item .blog_item_content .blog_item_content_right .blog_item_content_right_1 .blog_item_content_right_1_content p {
    padding: 10px 0;
}

.blog .blog_item .blog_item_content .blog_item_content_right .blog_item_content_right_1 .blog_item_content_right_1_content p:last-child {
    color: #002146;
    font-weight: bold;
}


/* Css footer  */
.footer {
    background-color: #002146;
    color: white;
    padding: 30px 0;
}

.footer .footer_content {
    margin: auto;
    width: 80%;
}

.footer .footer_content .footer_content_contact {
    float: left;
    width: calc(100%/3);
}
.footer .footer_content .footer_content_contact i{
    color: #FDC800;
    margin-right: 5px ;
}
.footer .footer_content .footer_content_contact p{
    display: inline;
}

.footer .footer_content .footer_content_contact h3 {
    padding-bottom: 10px;
}
.footer .footer_content .footer_content_contact ul li {
    list-style: none;
    padding: 10px 0;
}

.footer .footer_content .footer_content_contact ul li a {
    text-decoration: none;
    color: white;

}

.footer .footer_content hr {
    margin: 20px 0;
    color: gray;
}

.footer .footer_content p {
    text-align: left;
}

.footer .footer_content span {
    color: #969696;
}